body {
    background-color: #eaf0f2;
    color: #eaf0f2;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

nav {
    background-color: #263238;
    height: 75px;
    font-size: 25px;
    position: relative;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    text-align: center;
}

nav li a {
    display: inline-block;
    color: white;
    margin-top: 5px;
    padding: 15px 35px;
    text-align: left;
}

#desserts {
    font-size: 42px;
    padding: 15px 35px 15px 35px;
    line-height: 35px;
}

.list {
    max-height: 0;
    color: #eaf0f2;
    position: absolute;
    overflow: hidden;
    background-color: #f9f9f9;
}

.list a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    height: 45px;
    line-height: 45px;
}

.dropdown:hover .list {
    display: block;
    background-color: #263238;
    max-height: 500px;
    transition: max-height .6s;
}

.list a:hover {
    color: #cfd8dc;
}

#desserts:hover {
    background-color: #263238;
}

main {
    color: black;
    padding-left: 35px;
}

button {
    color: black;
    background:  lightgray;
}

footer {
    background-color: #263238;
    font-size: 18px;
    padding: 50px;
    margin-top: 75px;
    color: #b0bec5;
    text-align: center;
}

p {
    font-size: 28px;
}

body, ul, li, a {
    margin: 0;
    padding: 0;
}

.dropdown:hover {
    background-color: #546e7a;
}